# Flutter & Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
generated_plugin_registrant.dart

# VS Code
.vscode/

# IntelliJ
*.iml
.idea/
/*.iml
/modules.xml
/workspace.xml
/caches
/navEditor.xml
/assetWizardSettings.xml

# macOS
.DS_Store

# Android
.gradle/
/local.properties
/captures/
.externalNativeBuild/
.cxx/

# Flutter environment
.env

# Signing files
debug.keystore
my-upload-key.jks

# Misc
pubspec.lock
